################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/FSL.DatabaseQuery.Api/bin
/FSL.DatabaseQuery.Api/obj
/FSL.DatabaseQuery.Api/.config
*.user
/FSL.DatabaseQuery.BlazorSrv/bin
/FSL.DatabaseQuery.BlazorSrv/obj
/FSL.DatabaseQuery.Core/bin
/FSL.DatabaseQuery.Core/obj
/FSL.Framework.Api/bin
/FSL.Framework.Api/obj
/FSL.Framework.Core/.vs
/FSL.Framework.Core/bin
/FSL.Framework.Core/obj
/FSL.Framework.Web/bin
/FSL.Framework.Web/obj
